<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
</head>
<body>
<form action="#" th:action="@{/process}" th:object="${task}" method="post">

    Task name: <input type="text" th:field="*{taskName}" />
    <span th:if="${#fields.hasErrors('taskName')}"
          th:errors="*{taskName}"></span><br />

    Due date: <input type="text" th:field="*{date}"/>
    <span th:if="${#fields.hasErrors('date')}"
          th:errors="*{date}"></span><br />

    Priority: <input type="text" th:field="*{priority}"/>
    <span th:if="${#fields.hasErrors('priority')}"
          th:errors="*{priority}"></span><br />

    <input type="submit" value="Submit">

</form>

</body>
</html>